/*!
 * Roots 6.5.0
 */

html {
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
}

body {
    background: #000;
    background-image:url("/assets/img/cwbgdk-mob.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size:100%;
    width:100%;
    overflow-x: hidden;
    color: #555;
} 
body.media{
  overflow: scroll!important;
  margin-top: 0px;
}

@font-face{
   /*font-family: "webfont";*/
   font-family: "headerfont";
   src: url(../fonts/Walkway-Bold.ttf);
}

a {tranisition:color .3s ease}

/* ==========================================================================
Side Navbar
========================================================================== */

#menu-side-navigation {
  background-color: rgba(0, 0, 0, 0.9);
}

.navbar-collapse {
  background-color: rgba(0, 0, 0, 0.7);
  min-width: 100%;
  z-index: 100;
}

.navbar {
min-height: 40px;
width: 40px;
}

.navbar-inverse {
background-color: transparent!important;
border:none!important;
}

.navbar-toggle .icon-bar {
width: 17px;
}

.nav > li > a {
    color: #83807A;
    font-family: headerfont; 
    font-size: 27px;
    letter-spacing: 2px;
    text-align: center;
    text-transform: uppercase;
  z-index: 100;
}

.nav-pills > li > a:hover, a:focus {
    color: #9CF;
    background: none;
      z-index: 100;
}
.navbar-toggle {
background-color: rgba(0, 0, 0, 0.8);
z-index: 100;
float: left;
margin-left: -10px;
margin-top: -10px;
}

.navlogo {
  display:none;

}


/* ==========================================================================
   Base
   ========================================================================== */

.row {
    margin-top: 25px;
}

.wrap {
  padding:0px;
  margin: 0 0 0 -6px;
}

.wrap, .main, .mainhome {

  min-height:350px;
}

.content .row {
  margin-left: 0px;
}   

.col-xs-6 {
  width: 100%;
  padding-left: 22px;
}

.col-xs-1{
  z-index:100;
}
 
.mainlogo{
    margin: 10% 0% 0% 5%;
   /* width: 305px;
    height: 70px;
    box-sizing: border-box;
    overflow: hidden;*/
}

h1{
   color: #FFFFFF;
   font-family: "headerfont";
   
}

h2{
   color: #FFFFFF;
  font-family: "headerfont";
}

h3{ color:#555555;
   font-family: "headerfont";

}
/* a {
   font-family: "webfont"!important;
   word-spacing: 2px;
   letter-spacing: .5px;
}*/

p{
   color: #FFFFFF;
}

a {
  color: #E6E6E6;
}

a:hover {
  color: #9cf;
}

.border-box>p:hover {
color: #FFF;
border: 3px solid #FFF;
}

a h3.smaller:hover {
color: #FFF;
}


.post-type-archive-music>.container-fluid{
   padding: 50px 0px;
}

.container-fluid>*{
   margin-left: 10px;
   margin-right: 10px;
}
.marg-top-sm{
   margin-top: 15px;
}
.marg-top-md{
   margin-top: 20px;
}
.marg-top-lg{
   margin-top: 55px;
}

.gallery-home-body{
   background-color: gray;
   padding: 10%;
}

.border-box.gallery>p{
   color: #FFF!important;
   border-color: #FFF!important;
}

.alert, .alert-warning {display: none;}

.entry-content-asset {
  height: auto;
  width: auto;
}

/*=================================================
  Instagram
  ================================================ */

.instagram-grid {
  list-style-type: none;
}

.instagram-grid li {
  float: left;
}

/*overwrite*/

/* ==========================================================================
   Header
   ========================================================================== */

.page-header {
  /*display: none;*/
}

.banner { }

.navbar-brand {color:#FFF!important}

.navbar-nav{
   width: 100%
}
.navbar-nav li{
   width: 16.66666%;
   text-align: center;
   height: 50px;
}

.navbar-default {
background: rgba(0,0,0,1);
border: none!important;
position: fixed;
width: 100%;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
background:none!important;
}

.navbar-default .navbar-nav>li>a {
color: #FFF!important;
font-size: 18px;
}

#menu-navbar > li > a:hover,
#menu-navbar > li > a:focus {
color: #E64C1F!important;
} 


/* ==========================================================================
   Content - HOME
   ========================================================================== */


.homenewsdiv, .newsdiv {
  width: 100%;
  overflow: hidden;
}

.newshdiv {
  display: none;
}

.newslmobdiv {
  display: inherit;
  width: 100%;
  overflow: hidden;
}

/* ==========================================================================
   Primary Content
   ========================================================================== */


/* Gallery Shortcode 
.gallery-row { padding: 15px 0; }



/* ==========================================================================
   Tour
   ========================================================================== */

.tour-body{
}

.bands-in-town-section {
  margin-left: -15px;
}

.tour-body h3 {
	margin-left: -10px;
}

.bit-description-links{
      display: none;
}
   
td.bit-date {
width: 90px!important;
}

.bit-header-overflow-fix span, .bit-header-overflow-fix span a{
   color: #646464!important;
}

tr th{
   color: #646464!important;
}

.bit-event-data{
   letter-spacing: .5px!important;
   word-spacing: 3px!important;
}

.bit-buy-tix {
color: #FFFFFF;
text-decoration: none;
font-weight: bold;
}

a:hover{
   text-decoration: none!important;
   color: inherit!important;
}
.bit-rsvp {
display: none;
}
.bit-location a{
   font-weight: normal!important;
}
.bit-bottom{
   display: none;
}
.smaller{
   font-size: 36px;
}

.bit-description-links a:hover,
.bit-date a:hover, 
.bit-venue a:hover,
.bit-location a:hover,
.bit-tickets a:hover,
.bit-rsvp a:hover {
  color:#777!important;
}

.bit-location {width:23%;}


.bit-venue {
      display: none;
}

.bit-venue, .bit-date, .bit-description-links,
.bit-location, .bit-tickets {
  font-size:20px!important;
  padding:10px 0px;
}

.bit-events, .bit-events-narrow {
   overflow: visible!important;
  } 

td a {
  font-size: 14px!important;
  color: #E9E9E9!important;
  text-align: center!important;
  line-height: 20px!important;
}

body.tour .tour-page h3 {
display: none;
}

button {
  margin: 10px 0 0 40px;
  padding: 5px;
  font-weight: bold;
  background: rgba(0,0,0,0);
  color: #FFFFFF!important;
  border: 2px solid #FFFFFF!important;
  border-radius: 0px;
  letter-spacing: 1px;
  
}

/* ==========================================================================
   Video
   ========================================================================== */

.slides .video {
background-repeat: no-repeat;
background-size: cover;
padding: 1% 0px 0.4% 0px;
}
.video-back {
height: 0px;
width: 100%;
padding-bottom: 60%;
display: block;
position: relative;
top: 0px;
background-size: cover;
margin-top: -11%;
  -webkit-filter: blur(10px);
  -moz-filter: blur(10px);
  -o-filter: blur(10px);
  -ms-filter: blur(10px);
  filter: blur(10px);
  opacity: 0.7;
}
body.home .videos{
  height: 0px!important;
  padding-bottom: 105%;
}

.video-content {
margin-top: -50%;
margin-bottom: 35%;
}

.vid-desc>p{
  font-size: 14px;
  line-height: 1.1;
}
.vid-back {
padding: 3% 1%;
background-image: url(../img/Black-Background.jpg);
background-size: contain;
border: solid 3px rgba(0,0,0, .1);
border-radius: 5px;
}

.vid-line{
height: 20px!important;
background-image: url(../img/vid-line.png);
background-repeat: no-repeat;
background-position: center;
margin-top: 5px;
}

.vid-nav{
  margin-top: 15px!important;
}

.vid-desc{
  text-align: center;
 }
 .vid-read{
  text-align: center;
  font-family: "viva-std";
 }
 
.video-description {
  background: transparent;
  overflow: scroll;
  height: auto;
  margin: 0px;
  overflow-x: hidden;
  overflow-y: auto; 
 }
 
.video-description h1 {
  font-size:35px; font-family: "viva-std";
  }
 
 
.video-page-featured-video {
  margin-top:4%; 
 }


.video-thumbnail-internal {
  width:100%;
  color: black;
  font-size: 18px;
  text-align: center;
 }

span.thumb-title {
  font-family: arial, helvetica, sans-serif;
  color: #4E3E3C;
  font-size: 13px;
  line-height: 1.1em;
  clear: left;
  float: none;
}

a span.thumb-title:hover {
text-decoration:none;
}

.thumb-title>h3 {
font-size: 18px !important;
text-align: center;
padding: 0 4% 0 4%;
color: #FFF;
}

/*video#bgvid {
position: fixed;
top: 0;
left:0;
right: 0;
bottom: 0;
min-width: 100%;
min-height: 100%;
width: auto;
height: auto;
z-index: -10;
background: url(polina.jpg) no-repeat;
background-size: cover;
}*/

.vid-layer-top{
   z-index: 100;
}
#video-player{
   padding: 0;
}

.video-body {
   padding-bottom: 5%;
padding-top: 15%;
}

.border-box-white{
   margin-top: 10px;
}
.border-box-white>p{
  color: #fff;
  border: 3px solid #fff;
  padding: 2px;
  text-align: center;
  font-size: 18px;
}

.vid-icon {
   transition: color .3s ease;
  text-align: center;
  color: #fff;
  position: static;
  margin-top: 10px;
}

.vid-icon:hover{
   transition: color .3s ease;
   color: #E64C1F!important;
}
.vid-text{
   text-align: center;
   display: none;
}

/* ==========================================================================
  OWL Carousel
   ========================================================================== */
 
 clearfix 
.owl-carousel .owl-wrapper:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0; 
}
/* display none until init */
.owl-carousel{
  position: relative;
  width: 100%;
  -ms-touch-action: pan-y;
}
.owl-carousel .owl-wrapper{
  position: relative;
  left: -5px;
  -webkit-transform: translate3d(0px, 0px, 0px);
}

.owl-carousel .owl-wrapper-outer{
  overflow: hidden;
  position: relative;
  margin-top: 15px;
  width: 100%;
  padding-right: 100%;
}
.owl-carousel .owl-wrapper-outer.autoHeight{
  -webkit-transition: height 500ms ease-in-out;
  -moz-transition: height 500ms ease-in-out;
  -ms-transition: height 500ms ease-in-out;
  -o-transition: height 500ms ease-in-out;
  transition: height 500ms ease-in-out;
}
  
.owl-carousel .owl-item{
  float: left;
}
.owl-controls .owl-page,
.owl-controls .owl-buttons div{
  cursor: pointer;
}


.owl-item img {
  height: 80%;
  width: 80%;
  padding: 3px;
}

/*.owl-controls {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}*/

/* mouse grab icon */
.grabbing { 
    cursor:url(grabbing.png) 8 8, move;
}

/* fix */
.owl-carousel  .owl-wrapper,
.owl-carousel  .owl-item{
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility:    hidden;
  -ms-backface-visibility:     hidden;
  -webkit-transform: translate3d(0,0,0);
  -moz-transform: translate3d(0,0,0);
  -ms-transform: translate3d(0,0,0);
}

.owl-theme .owl-controls {
text-align: center;
position: absolute;
top: 0;
width: 100%;
height: 0px;
}


.owl-theme .owl-controls .owl-buttons div{
  color: #666;
  display: inline-block;
  zoom: 1;
  margin: 2px -30px 0 -30px;
  padding: 55px 15px !important;
  font-size: 22px;
  background: #000;
}

.owl-theme .owl-controls .owl-buttons .owl-prev {
  position:absolute; left:0px;
  }

.owl-theme .owl-controls .owl-buttons .owl-next {
  position:absolute; right:6px;
  }


/* Clickable class fix problem with hover on touch devices */
/* Use it for non-touch hover action */
.owl-theme .owl-controls.clickable .owl-buttons div:hover{
  filter: Alpha(Opacity=100);/*IE7 fix*/
  opacity: 1;
  text-decoration: none;
}

/* Styling Pagination*/

.owl-theme .owl-controls .owl-page{
  display: inline-block;
  zoom: 1;
  *display: inline;/*IE7 life-saver */
}
.owl-theme .owl-controls .owl-page span{
  display: block;
  width: 12px;
  height: 12px;
  margin: 5px 7px;
  filter: Alpha(Opacity=50);/*IE7 fix*/
  opacity: 0.5;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  background: #869791;
}

.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span{
  filter: Alpha(Opacity=100);/*IE7 fix*/
  opacity: 1;
}

/* If PaginationNumbers is true */

.owl-theme .owl-controls .owl-page span.owl-numbers{
  height: auto;
  width: auto;
  color: #FFF;
  padding: 2px 10px;
  font-size: 12px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
}

/* ==========================================================================
   Posts
   ========================================================================== */

.hentry header { }
.hentry time { }
.hentry .byline { }
.hentry .entry-content { }
.hentry footer {}

.blog-home-body ,

/*body.category-news .wrap,
body.views-template-blog .wrap {padding: 50px 0px;}*/

.blog-home-body {padding: 50px 0px;}

.border-box>a {
color: #E64C1F!important;
border: 3px solid #E64C1F;
padding: 2px;
text-align: center;
font-size: 18px;
margin-left: 15px;
width: 100%;
display: block;
}
.blog-post-square h1:hover{
   color: #E64C1F!important;
}
.border-box>a:hover {
color: #FFF!important;
border: 3px solid #FFF;
}

.more-blogs h3 {
font-size: 32px;
color: #FFF;
margin-top: 100px;
}
.more-blogs a:hover h3 {
color: #E64C1F;
}
.blog-title, .blog-title a{
   color: #E64C1F;
}
.blog-title a:hover{
   color: #E64C1F!important;
}

.blog-body p{
   color: #fff;
}

.blog-home-body a h1:hover {
color:#E64C1F;
}

span.post-date {
color: #A5A5A5;
font-size: 11px;
margin-top: 0;
}

.border-box-white>p:hover{
   color: #E64C1F!important;
   border: 3px solid #E64C1F!important;
}

.blog-post-square {
margin: 30px 0px 100px 0px;
}


.post-nav {
position: relative;
bottom: 20px;
padding: 0px 19%;	
}
.pager li>a, .pager li>span {
display: inline-block;
padding: 2px;
background-color: rgba(255,255,255,0);
border: 3px solid #E64C1F;
border-radius: 0px;
min-width: 120px;
color: #E64C1F!important;
}
.pager li>a:hover, .pager li>a:focus{
background-color: rgba(255,255,255,0);
color: #fff!important;
border: 3px solid #fff;
}
#disqus_thread {
margin: 0px auto;
background-color: rgba(255, 255, 255, 0.7);
padding: 15px;	
}

.addthis_default_style .addthis_separator, .addthis_default_style .at300b, .addthis_default_style .at300bo, .addthis_default_style .at300m, .addthis_default_style .at300bs {
float: left;
}


/* ==========================================================================
   Email Signup
   ========================================================================== */
.content-info {
    padding: 30px 15px 0px 40px;
    text-align: left;
}

.signup-row {
    height: 0;
    padding-top: 50px;
}


   #signup-button{
      height: 55px;
      display: block;
      position: relative;
   }
   
   #signup-button > h3 {
      left: 0px;
      font-size: 19px !important;
      text-align: center;
      margin-top: 10px;
      color: #fff;
      padding-top: 5px;
      letter-spacing: 1px;
   }

   #signup{
      right: 0px;
      position: relative;
      bottom: 60px;
      padding: 0px;
      }

   .topspin-signup{
      background-color: rgba(170,170,170, .8);
      z-index: 1;
      bottom: 90px;  
   }

   #e2ma_signup_reset_button{
      display: none!important;
   }
   .e2ma_signup_form_required_footnote{
      display: none;
   }

.e2ma_signup_form input[type="text"], .e2ma_signup_form textarea, .e2ma_signup_form select {
  /*margin: -20px !important;*/
}

#e2ma_signup_submit_button {
position: relative;
top: -31px;
left: 160px;
padding: 1px;
text-transform: uppercase;
font-family: "headerfont";
font-weight: bold;
background: rgba(0,0,0,0);
color: #A7A7A7!important;
border: none;
background-color: #303030;
letter-spacing: 1px;
}

#e2ma_signup_submit_button:hover{
   color: #fff!important;
   border: 2px solid #fff!important;
   border-color: #fff!important;
}
   .e2ma_signup_form_row{
      border: 0px solid #fff!important;
      text-align: center;
   }
   .e2ma_signup_form_label{
      color: #FFF !important;
      text-align: center !important;
      font-size: 12px !important;
   }

   .e2ma_signup_form_required_asterix {
    display: none;
}
   #id_email{
      width: 100%;
      
   }  
#id_member_field_postal_code, {
  width: 100%;
}
#id_member_field_first_name,
#e2ma_signup_image_container {display:none;}   


/* ==========================================================================
   Footer
   ========================================================================== */

.credits {
float: bottom;
position: relative;
bottom: 0px;
text-align: center;
width: 100%;
display: block;
}

footer {
  padding-top: 12%;
  z-index: -100;
  margin-left: 22px;
}

/* ==========================================================================
   Social Bar
   ========================================================================== */
#social ul {margin:0px; padding:0px; list-style: none;}
#social li {margin:0px; padding: 0px list-style:none; display: block; float:left;}
#social li a {padding: 10px;}


#social-float>ul{
   display: none;
}
  #social-float>ul>li>a>i{
   color: #fff;
   text-decoration: none;
} 
  
#social-float>ul>li>a>i:hover {
color: #99CCFF!important;
}

 #social-float>#menu-social-navigation > li:nth-child(6){
   margin-right: 10px;
  }
#social-float>#menu-social-navigation>li{
   float: left;
   margin-right: 22px;
   color: #fff;
}
#social-float>ul{
   float: right;
   position: relative;
   right: 50%;
   margin-right: -150px;
   margin-top: 65px;
   bottom: 5px;
   background-color: rgba(0,0,0, .5);
   padding: 10px 0px 5px 12px;
   display: block;
   list-style: none;
}

/* ==========================================================================
   WordPress Generated Classes
   See: http://codex.wordpress.org/CSS#WordPress_Generated_Classes
   ========================================================================== */

.aligncenter { 
  display: block; 
  margin: 0 auto;
  max-width: 100%;
  height: auto; 
  }
  
.alignleft { float: left; }
.alignright { float: right; }
figure.alignnone { margin-left: 0; margin-right: 0; }



/* ==========================================================================
   MEDIA QUIERIES!!!!!!!!!
   ========================================================================== */

/* Extra small devices (phones, up to 480px) */
/* No media query since this is the default in Bootstrap */


/* Small devices (tablets, 768px and up) */
@media (max-width:768px) {

.signup-row {
  height: 0;
  padding-top: 50px;
	width: 80%;
	margin: 0 auto;
}

#signup-button > h3 {
font-size: 26px;
margin-top: 10px;
margin-right: none;
}

.e2ma_signup_form {
width: auto!important;
}

.e2ma_signup_form input[type=text], .e2ma_signup_form textarea, .e2ma_signup_form select {
border: none;
font-family: "headerfont";
font-size: 15px!important;
width: 65px;
color: #5C5C5C;
padding: 3%;
border-radius: 5px;
}

#e2ma_signup_submit_button:hover {
color: #D6D6D6!important;
border: none!important;
background-color: #777;
}

#e2ma_signup_submit_button {
display:block;
width: auto!important;
padding: 8px;
text-transform: uppercase;
font-family: "headerfont";
font-weight: bold;
background: rgba(0,0,0,0);
color: #A7A7A7!important;
border: none;
background-color: #303030;
letter-spacing: 1px;
position: inherit;
margin: 0 auto;
}

.e2ma_signup_form_button_row {
float: none!important;
}


#social-float>ul {
margin-top: 160px;
}

img.size-full {
margin: 20px 0px;
}

article p {
font-size: 16px;
line-height: 1.5;
margin-botto:30px;
}

.thumb-title>h3 {
font-size: 16px !important;
text-align: center;
padding: 0 20% 0 20%;
color: #FFF;
}

.owl-theme .owl-controls .owl-buttons div {
color: #D1D1D1;
padding: 30px 15px !important;
background: transparent;
}

body.tour h1.bands-in-town-h1 {
margin-top: -30px;
}

.instagram-grid {
text-align: center;
}

.instagram-grid li {
float: none;
}

.bands-in-town-section {
  margin-left: inherit;
}

.row {
    margin-top: inherit;
    margin-bottom: inherit;
}

body {    
    background:#000;
    background-image: url("/assets/img/cwbg.jpg");
    background-size: 220%;
    background-position: -515px 0px;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.mainlogo{
    display: inherit;
    height: 120px;
    margin: 3% 0 2% 0;
    /* width: 410px; */
    z-index: -10;
    max-width: 42%;
    text-align: center;
    left: 120px;
    }

.logocenter {
    width: 100%;
    margin: 0 auto;
}


.container-fluid>*{
   margin-left: inherit;
   margin-right: inherit;
}

.mainhome {
    left: 200px;
    padding-bottom: 30px;
    max-width: 38%;
    background-color: rgba(0, 0, 0, 0.8);
    padding-left: auto;
    padding-right: auto;
    box-sizing: border-box;
}

.main   {
    left: 145px;
    padding-bottom: 30px;
    max-width: 41%;
    background-color: rgba(0, 0, 0, 0.8);
    padding-left: auto;
    padding-right: auto;
    box-sizing: border-box;
}

.col-xs-6 {
  z-index: inherit;
  padding-top:inherit;
  padding-top: 20px;
}

p{
   color: #83807A;
}

a{
   color: #FFF;
}

.nav > li > a {
    color: #83807A;
    padding: 0px;
}

#menu-side-navigation {
    background-color: initial;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
    background: none;
}

.navbar-collapse{
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.45);
  min-width: 15% !important;
  z-index: 1;
}

.navbar-collapse.collapse {
    display: block !important;
    min-height: 100% !important;
    overflow: visible !important;
    padding-bottom: 0;
}

.navlogo {
  display: inherit;
  height: 180px;
  width: 160px;
  margin-left: auto ;
  margin-right: auto ;
  z-index: -10;
}

.homenewsdiv {
  display: inherit;
  overflow: hidden;
}

.newsdiv {
  width: inherit;
  overflow: hidden;
  padding-bottom: 20px;
}

.newshdiv {
  display: inherit;
}

.newslmobdiv {
  display: none
}

.vid-text{
   display: block;
}

/* BLOG */
.blog-post-square {
max-height: 500px;
min-height: 500px;
height: 500px;
margin:0px;
}

.blog-post-square h1 {
font-size: 31px;
margin-bottom: -20px;
height: 135px;
overflow: hidden;
}

#disqus_thread {
width: 70%;
}

.navbar-default .navbar-nav>li>a {
font-size: 14px;
}
.navbar-brand {display:none;}

footer {
  padding-top: initial;
  margin-left: initial;
  }

.col-md-6 .bands-in-town-section { 
  width: 100%;
  }

.signup-row {
    height: 0;
    padding-top: inherit;
}

.topspin-signup {
    height: 70px;
    bottom: inherit;
    margin-top: 15px;
}

#signup {
  transition: right 0.4s ease;
  right: -435px;
  position: fixed;
  z-index: 1;
  width: 580px;
}
/* For iPad signup functionality */
/*iPad fix */
#signup:hover, #signup:focus, #signup.hover_effect {
   right: -150px!important;
}
.hover {
-webkit-user-select: none;
-webkit-touch-callout: none;        
}
/* End iPad fix*/
#e2ma_signup_submit_button {
  position: relative;
  top: -40px;
  left: 190px;
  }

#signup-button{
  margin-top: 15px;
  height: 70px;
  width: 180px;
      }

.e2ma_signup_form {
  margin-top: 15px;
  margin-left: -30px;
   }

.e2ma_signup_form_row{
    margin-top: -20px;
    text-align: left;
    width: 210px;
    padding: 7px;
   }

   .e2ma_signup_form_label {
    text-align: left !important;
    padding-top: 0px !important;
}

.e2ma_signup_form_element {
  padding-bottom: 3px !important;
}

#menu-social-navigation{
   display: none;
}
#social-float>ul{
   float: right;
   margin-top: 25px;
   position: fixed;
   right: 0px;
   margin-right:0px;
   bottom: 0px;
   background-color: rgba(0,0,0, .5);
   padding: 10px 0px 5px 12px;
   display: block;
   list-style: none;
}
.credits {
    bottom: 0px;
    display: block;
    position: fixed;
    text-align: center;
    left: 1.5%;
    max-width: 15%;
    font-size: 11px;
    z-index: 100;
    margin-left: 25px;
}
.video-body{
   height: 0px;
   padding-bottom: 68%;
   padding-top: 7%;
}
.tumblr_post{
  max-width: 49%;
  max-height:209px; 
}
} 

@media (min-width: 850px) {
 body {
  background-size: 200%;
  background-position: -500px 0px;
 }

 .button {
   margin: 20px 0 0 0;
 }
}

/* Medium devices (desktops, 992px and up-) */

@media (min-width: 992px) {
body {
  background-size: 175%;
  background-position: -450px 0px;
}

.mainhome {
  left: 21%;
  padding-bottom: 30px;
}

.main,  {
  left: 21%;
  padding-bottom: 30px;
  max-width: 41%;
} 

.mainlogo {
  left: 12%
}

.video-body {
  padding-bottom: 45%;
}

.container-fluid>*{
   margin-left: inherit;
   margin-right: inherit;
}

h1{
   font-size: 62px;
}
h2{
   font-size: 40px;
}

.tour-body, .blog-home-body, .media-body {
margin-bottom: 50px;
padding: 10% 0px 13% 0px;
}

.featured-image-home {
height: 200px;
overflow: hidden;
padding: 0;
}

.bit-events td {
   height: inherit !important;
}

.bit-location {
   width: 23% !important;
}

.bit-venue {
  display: block !important;
}

.lineup {
  display: none !important;
 } 

body > div.container-fluid.blog-home-body.rotate-neg.inview > div > div > div > div > p > a {
display: none;
} 

.credits {
  margin-left: -22px;
}
}

/* Large Devices (1000px and up) */

@media (min-width:1050px) {
body {
  background-size: 160%;
  background-position: top;
}
.mainhome {
  left: 20%;
}
.main { 
  left: 12%;
}
.credits {
  margin-left: -10px;
} 

td a {
text-align: inherit !important;
}
} 

@media (min-width: 1250px) {
body {
  background-size: 140%;
  background-position: top;
}
.mainhome {
  left: 17%;
}
.main { 
  left: 9%;
} 
.mainlogo {
  left: 11%;
}
.credits {
  margin-left: -15px;
} 
}

@media (min-width:1300px) {
body {
  background-size: 130%;
}
.mainlogo {
  left: 12%;
}
.credits {
  margin-left: -18px;
}
}  

@media (min-width: 1450px) {
body {
  background-size: 117%;
}
.mainlogo {
  left: 14%;
}
td a {
  padding: 5px 0 0 0 !important;
}
}

/*Extra Large devices (large desktops, 1650px and up)*/
@media (min-width:1650px) {
body {
  background-size: 105%;
}
}

@media (min-width:1800px) {
body {
  background-size: 100%;
  }    
 } 


/*Ipad Landscape*/
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) { 
.tumblr_post{
  max-width: 49%;
  max-height:209px;
  padding:5px; 
}
.tumblr_title{
   margin-top: 18px;
   margin-left: 5px;
}
.tumblr_body {
margin-left: 5px;
}
}

/*Ipad Portrait*/
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {

body {
  background-size: 240%;
  background-position: -600px 0px;
  background-attachment: fixed !important;
}

.bit-venue {
  display: none !important;
}
.topspin-signup{
}

#signup-button > h3 {
 font-size: 19px;
 }

#signup:hover, #signup:focus, #signup.hover_effect {
   right: -120px!important;
}
#id_email {
  height: 15px;
}
#id_member_field_postal_code{
  height: 15px;
}
.e2ma_signup_form input[type=text], .e2ma_signup_form textarea, .e2ma_signup_form select {
  padding: none;
}
#e2ma_signup_submit_button {
  top: -60px;
  left: 110px;
}
#social-float>ul {
  right: 0px;
}
#social-float > #menu-social-navigation > li {
  margin-right: 10px;
}
}


/*! fancyBox v2.1.5 fancyapps.com | fancyapps.com/fancybox/#license */
.fancybox-wrap,
.fancybox-skin,
.fancybox-outer,
.fancybox-inner,
.fancybox-image,
.fancybox-wrap iframe,
.fancybox-wrap object,
.fancybox-nav,
.fancybox-nav span,
.fancybox-tmp
{
	padding: 0;
	margin: 0;
	border: 0;
	outline: none;
	vertical-align: top;
}

.fancybox-wrap {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 8020;
}

.fancybox-skin {
	position: relative;
	background: #f9f9f9;
	color: #444;
	text-shadow: none;
	-webkit-border-radius: 4px;
	   -moz-border-radius: 4px;
	        border-radius: 4px;
}

.fancybox-opened {
	z-index: 8030;
}

.fancybox-opened .fancybox-skin {
	-webkit-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
	   -moz-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
	        box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
}

.fancybox-outer, .fancybox-inner {
	position: relative;
}

.fancybox-inner {
	overflow: hidden;
}

.fancybox-type-iframe .fancybox-inner {
	-webkit-overflow-scrolling: touch;
}

.fancybox-error {
	color: #444;
	font: 14px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;
	margin: 0;
	padding: 15px;
	white-space: nowrap;
}

.fancybox-image, .fancybox-iframe {
	display: block;
	width: 100%;
	height: 100%;
}

.fancybox-image {
	max-width: 100%;
	max-height: 100%;
}

#fancybox-loading, .fancybox-close, .fancybox-prev span, .fancybox-next span {
	background-image: url(fancybox_sprite.png);
}

#fancybox-loading {
	position: fixed;
	top: 50%;
	left: 50%;
	margin-top: -22px;
	margin-left: -22px;
	background-position: 0 -108px;
	opacity: 0.8;
	cursor: pointer;
	z-index: 8060;
}

#fancybox-loading div {
	width: 44px;
	height: 44px;
	background: url(fancybox_loading.gif) center center no-repeat;
}

.fancybox-close {
	position: absolute;
	top: -18px;
	right: -18px;
	width: 36px;
	height: 36px;
	cursor: pointer;
	z-index: 8040;
}

.fancybox-nav {
	position: absolute;
	top: 0;
	width: 40%;
	height: 100%;
	cursor: pointer;
	text-decoration: none;
	background: transparent url(blank.gif); /* helps IE */
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	z-index: 8040;
}

.fancybox-prev {
	left: 0;
}

.fancybox-next {
	right: 0;
}

.fancybox-nav span {
	position: absolute;
	top: 50%;
	width: 36px;
	height: 34px;
	margin-top: -18px;
	cursor: pointer;
	z-index: 8040;
	visibility: hidden;
}

.fancybox-prev span {
	left: 10px;
	background-position: 0 -36px;
}

.fancybox-next span {
	right: 10px;
	background-position: 0 -72px;
}

.fancybox-nav:hover span {
	visibility: visible;
}

.fancybox-tmp {
	position: absolute;
	top: -99999px;
	left: -99999px;
	max-width: 99999px;
	max-height: 99999px;
	overflow: visible !important;
}

/* Overlay helper */

.fancybox-lock {
    overflow: visible !important;
    width: auto;
}

.fancybox-lock body {
    overflow: hidden !important;
}

.fancybox-lock-test {
    overflow-y: hidden !important;
}

.fancybox-overlay {
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
	display: none;
	z-index: 8010;
	background: url(fancybox_overlay.png);
}

.fancybox-overlay-fixed {
	position: fixed;
	bottom: 0;
	right: 0;
}

.fancybox-lock .fancybox-overlay {
	overflow: auto;
	overflow-y: scroll;
}

/* Title helper */

.fancybox-title {
	visibility: hidden;
	font: normal 13px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;
	position: relative;
	text-shadow: none;
	z-index: 8050;
}

.fancybox-opened .fancybox-title {
	visibility: visible;
}

.fancybox-title-float-wrap {
	position: absolute;
	bottom: 0;
	right: 50%;
	margin-bottom: -35px;
	z-index: 8050;
	text-align: center;
}

.fancybox-title-float-wrap .child {
	display: inline-block;
	margin-right: -100%;
	padding: 2px 20px;
	background: transparent; /* Fallback for web browsers that doesn't support RGBa */
	background: rgba(0, 0, 0, 0.8);
	-webkit-border-radius: 15px;
	   -moz-border-radius: 15px;
	        border-radius: 15px;
	text-shadow: 0 1px 2px #222;
	color: #FFF;
	font-weight: bold;
	line-height: 24px;
	white-space: nowrap;
}

.fancybox-title-outside-wrap {
	position: relative;
	margin-top: 10px;
	color: #fff;
}

.fancybox-title-inside-wrap {
	padding-top: 10px;
}

.fancybox-title-over-wrap {
	position: absolute;
	bottom: 0;
	left: 0;
	color: #fff;
	padding: 10px;
	background: #000;
	background: rgba(0, 0, 0, .8);
}


/*Retina graphics!*/
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
	   only screen and (min--moz-device-pixel-ratio: 1.5),
	   only screen and (min-device-pixel-ratio: 1.5){

	#fancybox-loading, .fancybox-close, .fancybox-prev span, .fancybox-next span {
		background-image: url(fancybox_sprite@2x.png);
		background-size: 44px 152px; /*The size of the normal image, half the size of the hi-res image*/
	}

	#fancybox-loading div {
		background-image: url(fancybox_loading@2x.gif);
		background-size: 24px 24px; /*The size of the normal image, half the size of the hi-res image*/
	}
}



